################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Splitix.TestProject/bin/Debug
/Splitix.TestProject/obj
/.vs
/packages/
!packages/repositories.config
